# Sestavení Pico C/C++
build/
*.elf
*.bin
*.hex
*.uf2
*.map
compile_commands.json

# Python virtual environment a cache
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

# IDE konfigurace
!.vscode/
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/pico-sdk.json
